[Unit]
Description=tenderupdate
After=network.target

[Service]
Type=simple
User=sumeetkd
Group=sumeetkd
WorkingDirectory=/home/sumeetkd/codes/Quazar/eproc/
ExecStart=/home/sumeetkd/codes/Quazar/eproc/tenders/bin/python3 collect_tenderinfo --s>
Environment="PYTHONPATH=$PYTHONPATH:/home/sumeetkd/codes/Quazar/eproc"

[Install]
WantedBy=multi-user.target
