{% extends "base.html" %}
{% block content %}
<h3>Tenders in the category Lab and Scientific equipment</h3>
<form action = "/labequipment" method = "POST">
  <div class="form-group">
    <label for="category">Category Name</label>
      <input type = "text" class = "form-control" id="category" name = "Category" value = "Laboratory and scientific equipment "/>
  </div>
  <div class="form-group">
    <label for="bidsubenddate">Bid Submission End date </label>
    <input type = "date" class="form=control" id="bidsubenddate" name = "BidSubEndDate" value= 2022-08-29 />
  </div>
     <p><input type = "submit" class = "btn btn-primary" value = "submit" /></p>
</form>

<div class="container">
    <table class="table">
        <tr>
        <th><div> Website ID </div><hline> <div> Link to website </div></th>
        <th><div> Title </div> <div> Work Description </div><div> Organization name</div></th>
        <th><div> Tender Ref No </div> <div> Type of Tender </div> <div> Last date for Bidding </div></th>
        <th><div> Category </div> <div> Sub Category </div></th>
        </tr>
{% for item in result %}
    <tr>
<!--       {% for value in item %}
        <td> {{ value }} </td>
       {% endfor %} -->
        <td><a href={{ item[1] }} >{{ item[0] }}</a></td>
        <td><div>{{ item[2] }}</div> <div> {{ item[3] }}</div><div> {{ item[4] }}</div></td>
        <td><div>{{ item[5] }}</div> <div> {{ item[6] }}</div><div> {{ item[7] }}</div></td>
        <td><div>{{ item[8] }}</div> <div> {{ item[9] }}</div></td>
    </tr>
{% endfor %}
    </table>
</div>
{% endblock %}
